<div class="quadrado">
    <input type="text" placeholder="Nome" class="nome">
    <input type="email" placeholder="e-mail" class="email">
    <input type="password" placeholder="Senha" class="senha">
    <input type="text" placeholder="Estado" class="estado">
    <input type="text" placeholder="Cidade"class="cidade">
    <input type="text" placeholder="Bairro" class="bairro">
    <input type="text" placeholder="Gênero" class="genero">
    <input type="url" placeholder="Link do que gosta de fazer" class="link">
    <button onclick='cadastrar()' class="cadastro">Cadastrar</button>
    <h1 [style.color]="'red'" class="cadastre">Cadastre-se</h1>
    <img [src]="linkimagem" class="imagem">
</div>